.big-container .first-column-container div a.ass-prof-link {
  padding-left: 15px;
  background-color: var(--main-color);
  color: var(--second-color);
  width: fit-content;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.student-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 10px;
  width: fit-content;
}

.student-card-headline {
  margin-top: 0;
  font-size: 20px;
}

.student-card-paragraph {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 15px;
}
