{% extends 'student_dashboard.html' %} {% block style %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/assignment_for_student.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/student_dashboard.css') }}"
/>
{% endblock style %} {% block content_of_student_dashboard %}
<h1>Welcome to the Assignments Page</h1>
<div class="welcome-message">
  <h2>Instructions:</h2>
  <p>Download your assigned task below.</p>
</div>
<div class="assignment-details">
  <a href="assignment-link" class="download-button" download
    >Download the Task</a
  >
  <p class="warning">
    <span class="warning-icon"></span>
    <span class="warning-message"
      >The deadline is [Specify the due date here].</span
    >
  </p>
  <p>
    If you have any questions, please contact us via email at:
    <a href="mailto:email@example.com">email@example.com</a>
  </p>
</div>
{% endblock content_of_student_dashboard %}
