{% extends 'admin_dashboard.html' %} {% block style %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/admin_dashboard.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/courses_for_admin.css') }}"
/>
{% endblock style %} {% block content_of_admin_dashboard %}
<header class="courses-header">
  <h1>College Courses</h1>
</header>

<div class="courses-container">
  <!-- Course cards -->
  {% if course %} {% for one_course in course %}
  <a href="#" class="course-card">
    <div>
      <h2>{{ one_course.name }}</h2>
      <div class="course-details">
        <p>Description of the course goes here. This is a sample text.</p>
        <p><strong>Instructor:</strong> {{one_course.professor}}</p>
      </div>
    </div>
  </a>
  {% endfor %}
  <a href="#" class="add-course-link">
    <div class="add-course-card">
      <h2>Add a New Course</h2>
      <!-- Add form elements for adding a new course -->
    </div>
  </a>
  {% else %}
  <a href="#" class="add-course-link">
    <div class="add-course-card">
      <h2>Add a New Course</h2>
      <!-- Add form elements for adding a new course -->
    </div>
  </a>
  {% endif %}
</div>
{% endblock content_of_admin_dashboard %}
