{% extends 'layout.html' %} {% block style %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/log_in.css') }}"
/>
{% endblock style %} {% block content %}
<!-- Start Log in -->
<div class="big-log-in-container">
  <div class="login-container">
    <i class="fa-solid fa-circle-user"></i>
    <h2>Log in</h2>

    <form method="post">
      <input type="email" name="email" placeholder="Email" required /><br />
      <input
        type="password"
        name="password"
        placeholder="Password"
        required
      /><br />
      <div class="remember-me">
        <input type="checkbox" id="remeber" />
        <label for="remeber">Remember Me</label>
      </div>
      <div class="have-an-account">
        <a href="{{ url_for('sign_up') }}">Create a New Account</a>
      </div>
      <input type="submit" value="Login" />
    </form>
  </div>
</div>
<!-- End Log in -->
{% endblock content %}
