{% extends 'layout.html' %} {% block style %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/sign_up.css') }}"
/>
{% endblock style %} {% block content %}
<!-- Start Sign Up -->

<div class="big-container">
  <div class="container">
    <h2>Please Select Type of Sign Up</h2>
    <div class="signup-container">
      <div class="prof-container">
        <a href="{{ url_for('sign_up_for_prof') }}">
          <button class="prof">
            <i class="fa-solid fa-user-tie"></i>
            <h6>Professor</h6>
          </button>
        </a>
      </div>
      <div class="assoc-prof-container">
        <a href="{{ url_for('sign_up_for_ass_prof') }}">
          <button class="assoc-prof">
            <i class="fa-solid fa-chalkboard-user"></i>
            <h6>Prof. Assistant</h6>
          </button>
        </a>
      </div>
      <div class="student-container">
        <a href="{{ url_for('sign_up_for_students') }}">
          <button class="student">
            <i class="fa-solid fa-user-graduate"></i>
            <h6>Student</h6>
          </button>
        </a>
      </div>
      <br />
    </div>
    <a href="{{ url_for('log_in') }}">Or You Are Already Have Account</a>
  </div>
</div>

<!-- End Sign Up -->
{% endblock content %}
