{% extends 'layout.html' %} {% block style %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/sign_up_for_ass_prof.css') }}"
/>
{% endblock style %} {% block content %}
<!-- Start Sign Up for Profs -->
<div class="big-sign-up-container">
  <div class="signup-container">
    <i class="fa-solid fa-chalkboard-user"></i>
    <h2>Sign Up for Assistant Professors</h2>
    <form method="post">
      <div class="columns">
        <div class="column">
          <input
            type="text"
            name="first-name"
            placeholder="First Name"
            required
          /><br />
          <input
            type="text"
            name="last-name"
            placeholder="Last Name"
            required
          /><br />
          <input
            type="tel"
            name="contact-number"
            placeholder="Contact Number"
            maxlength="11"
            minlength="11"
            required
          /><br />
          <input
            type="password"
            name="password"
            placeholder="Password"
            required
          /><br />
          <!-- <select name="class_level" required>
            <option value="" disabled selected>Select Class Level</option>
            <option value="Level 1">Level 1</option>
            <option value="Level 2">Level 2</option>
            <option value="Level 3">Level 3</option>
            <option value="Level 4">Level 4</option></select
          ><br /> -->
          <select name="gender" required>
            <option value="" disabled selected>Select Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option></select
          ><br />
        </div>
        <div class="column">
          <input
            type="text"
            name="middle-name"
            placeholder="Middle Name"
            required
          /><br />
          <input
            type="tel"
            name="national-id"
            placeholder="National ID"
            maxlength="14"
            minlength="14"
            required
          /><br />
          <input type="email" name="email" placeholder="Email" required /><br />
          <input
            type="date"
            name="date-of-birth"
            placeholder="Date of Birth"
            required
          /><br />
        </div>
      </div>
      <a href="{{ url_for('log_in') }}">Or You Are Already Have Account</a>
      <input type="submit" value="Sign Up" />
    </form>
  </div>
</div>
<!-- End Sign Up for Profs -->
{% endblock content %}
