{% extends 'admin_dashboard.html' %} {% block style %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/admin_dashboard.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/verification_for_admin.css') }}"
/>
{% endblock style %} {% block content_of_admin_dashboard %}
<form action="{{ url_for('verification_for_admin') }}" method="post">
  <section>
    {% for account in accounts_verification %}
    <div class="card">
      <div class="details">
        <h2>
          User: {{ account.first_name }} {{ account.middle_name }} {{
          account.last_name }}
        </h2>
        <p>Email: {{ account.email }}</p>
        <p>Role: {{ account.role }}</p>
        <p>ID: {{ account.id }}</p>
      </div>
      <div class="buttons">
        <!-- Inside your loop that displays accounts_verification -->
        <form method="post" action="{{ url_for('verification_for_admin') }}">
          <input type="hidden" name="account_id" value="{{ account.id }}" />
          <input type="hidden" name="action" value="verify" />
          <button type="submit">Verify</button>
        </form>

        <form method="post" action="{{ url_for('verification_for_admin') }}">
          <input type="hidden" name="account_id" value="{{ account.id }}" />
          <input type="hidden" name="action" value="reject" />
          <button type="submit">Reject</button>
        </form>
      </div>
    </div>
    {% endfor %}
  </section>
</form>
{% endblock content_of_admin_dashboard %}
